<footer class="section_footer">
    <div class="footer">
        <div class="info_footer">
            <p class="title">contacto</p>
            <p class="text">Avenida de Los Colegios, <br> Tigre, Provincia de Buenos Aires</p>
            <br>
            <a href=""><p class="text">hola@estudiobarca.com</p></a>
            <br>
            <a href=""><p class="text">+(54) 9 11 7777 9999</p></a>
        </div>
        <div class="footer_social">
            <ul>
                <p class="title">social</p>
                <li><a href="http://instagram.com/estudiobarca" target="_blank" rel="noopener noreferrer">instagram</a></li>
                <li><a href="http://tiktok.com/@estudiobarca" target="_blank" rel="noopener noreferrer">tikTok</a></li>
            </ul>
        </div>
    </div>

    <div class="footer_logo">
        <img src="/img/logo-header.png">
    </div>

    <div class="credits">
            <p class="text">© 2024 estudio barca. all rights reserved.</p>
            <p class="text">creado por Nico</p>    
    </div>

</footer>
    