<header class="section_header" id="section">
    <div class="web">
        <div class="logo">
            <a href="/"><img src="/img/logo-header.png"></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/products">mobiliario</a></li>
                <li><a href="" class="medium">proyectos</a></li>
                <li><a href="">estudio</a></li>
            </ul>
        </div>
    </div>
</header>