<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('./partials/head.ejs')%>
<!-- HEAD -->

<body class="home_body">
        <!-- HEADER -->
            <%-  include('./partials/header.ejs')%>
        <!-- HEADER -->
    
        <!-- FOOTER -->
            <%-  include('./partials/footer.ejs')%>
        <!-- FOOTER -->
</body>
</html>